.navbar {
    font-size: 1.5rem;
    padding: 1rem 0rem;
    justify-content: space-between;
    background-color: var(--drk-blue);
    border-bottom: 0.01px solid var(--borderGrey);
    z-index: 1;
}

.profile-icon {
    margin-left: 0.1rem;
    background-color: var(--lt-drk-blue);
    border-radius: 50%;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}

.nav-title {
    color: var(--link);
}