.quiz-home-container {
    margin-top: 4rem;
    flex-grow: 1;
}

.home-img {
    height: 24rem;
    width: 24rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-text {
    line-height: 3.5rem;
    text-align: left;
}

.category {
    margin: 2rem 0;
}

.category-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem
}

.category-header {
    font-size: 2rem;
    font-weight: var(--font-bold);
    text-align: center;
    border-bottom: 0.01px solid var(--borderGrey);
    padding-bottom: 0.5rem;
}

.card {
    box-shadow: none;
    background-color: var(--md-blue);
    margin-top: 3rem;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-info {
    padding: 1rem;
    line-height: 2rem;
}

.card-info-bottom {
    position: absolute;
    bottom: 20px;
    width: 89%;
}

.card-info h3 {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.text-overlay .card-img,
.text-overlay {
    border-radius: 10px 10px 0 0;
}

.take-quiz-btn {
    text-align: center;
    margin-top: 1rem;
    padding: 0.05rem 0;
}

.text-overlay {
    width: 17rem;
    position: relative;
    height: 28rem;
}

.card-img {
    height: 13rem;
}

@media screen and (max-width:840px) {
    .main-header {
        flex-wrap: wrap-reverse;
    }
}

.footer {
    margin-top: 3rem;
    border-top: 0.01px solid var(--borderGrey);
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 1rem 0.5rem;
}

.icon-bar {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

@media screen and (max-width:550px) {
    body {
        width: 100%;
        font-size: 80%;
    }

    .navbar {
        padding: 1rem 0.5rem
    }

    .home-img {
        width: 15rem;
        height: 15rem;
    }

    .main-header {
        justify-content: center;
    }

    .home-text {
        text-align: center;
    }

    .home-text h1 {
        padding-bottom: 1rem;
        line-height: 2rem;
        font-size: 1.5rem;
    }

    .text-overlay{
        height: 25rem;
    }
    .card-info {
        line-height: 1.5rem;
    }
}