@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --drk-blue: #1A202C;
  --borderGrey: #5e6064;
  --md-blue: #223251;
  --lt-drk-blue: #16426e;
  --text-grey: #A0AEC0;
  background-color: var(--drk-blue);
  font-family: 'Inter', sans-serif;
}

.App {
  color: var(--white);
  letter-spacing: 0.005em;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}