.modal-container {
    position: relative;
}

.modal {
    background-color: var(--lt-drk-blue);
    position: absolute;
    z-index: 10;
    border: 1px solid var(--borderGrey);
    top: 8%
}

.dialog-btn .btn {
    font-family: inherit;
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
}